@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ffb161');
  src:  url('../fonts/icomoon.eot?ffb161#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ffb161') format('truetype'),
    url('../fonts/icomoon.woff?ffb161') format('woff'),
    url('../fonts/icomoon.svg?ffb161#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="custom-icon-"], [class*=" custom-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-add:before {
  content: "\e900";
}
.custom-icon-add-circle:before {
  content: "\e901";
}
.custom-icon-ad-plank:before {
  content: "\e902";
}
.custom-icon-android:before {
  content: "\e903";
}
.custom-icon-angle-arrow-pointing-to-right:before {
  content: "\e904";
}
.custom-icon-angle-pointing-to-left:before {
  content: "\e905";
}
.custom-icon-apple:before {
  content: "\e906";
}
.custom-icon-application-ad:before {
  content: "\e907";
}
.custom-icon-archive:before {
  content: "\e908";
}
.custom-icon-armchair:before {
  content: "\e909";
}
.custom-icon-badge:before {
  content: "\e90a";
}
.custom-icon-bed:before {
  content: "\e90b";
}
.custom-icon-bell:before {
  content: "\e90c";
}
.custom-icon-calendar:before {
  content: "\e90d";
}
.custom-icon-cancel:before {
  content: "\e90e";
}
.custom-icon-chair-new:before {
  content: "\e90f";
}
.custom-icon-chat:before {
  content: "\e910";
}
.custom-icon-check:before {
  content: "\e911";
}
.custom-icon-clipboard-outline:before {
  content: "\e912";
}
.custom-icon-clock:before {
  content: "\e913";
}
.custom-icon-coin:before {
  content: "\e914";
}
.custom-icon-compass:before {
  content: "\e915";
}
.custom-icon-confirm:before {
  content: "\e916";
}
.custom-icon-cross-mark:before {
  content: "\e917";
}
.custom-icon-design-elements-button-outline:before {
  content: "\e918";
}
.custom-icon-desk:before {
  content: "\e919";
}
.custom-icon-eye-outline:before {
  content: "\e91a";
}
.custom-icon-facebook .path1:before {
  content: "\e91b";
  color: rgb(59, 89, 152);
}
.custom-icon-facebook .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-icon-flag:before {
  content: "\e91d";
}
.custom-icon-google-plus .path1:before {
  content: "\e91e";
  color: rgb(220, 78, 65);
}
.custom-icon-google-plus .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.custom-icon-google-plus .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.custom-icon-google-plus .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-icon-google-plus .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.custom-icon-group-of-persons:before {
  content: "\e923";
}
.custom-icon-handshake:before {
  content: "\e924";
}
.custom-icon-heart:before {
  content: "\e925";
}
.custom-icon-home:before {
  content: "\e926";
}
.custom-icon-information-button:before {
  content: "\e927";
}
.custom-icon-interested:before {
  content: "\e928";
}
.custom-icon-key:before {
  content: "\e929";
}
.custom-icon-landscape:before {
  content: "\e92a";
}
.custom-icon-linkedin .path1:before {
  content: "\e92b";
  color: rgb(0, 122, 185);
}
.custom-icon-linkedin .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}
.custom-icon-location-pin:before {
  content: "\e92d";
}
.custom-icon-menu:before {
  content: "\e92e";
}
.custom-icon-microwave-oven:before {
  content: "\e92f";
}
.custom-icon-minus:before {
  content: "\e930";
}
.custom-icon-online-shopping:before {
  content: "\e931";
}
.custom-icon-passage-of-time:before {
  content: "\e932";
}
.custom-icon-pencil:before {
  content: "\e933";
}
.custom-icon-pinterest .path1:before {
  content: "\e934";
  color: rgb(203, 32, 39);
}
.custom-icon-pinterest .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}
.custom-icon-placeholder:before {
  content: "\e936";
}
.custom-icon-plus:before {
  content: "\e937";
}
.custom-icon-power:before {
  content: "\e938";
}
.custom-icon-rubbish-bin:before {
  content: "\e939";
}
.custom-icon-scooter:before {
  content: "\e93a";
}
.custom-icon-search:before {
  content: "\e93b";
}
.custom-icon-searchNo:before {
  content: "\e93c";
}
.custom-icon-sell-icon:before {
  content: "\e93d";
}
.custom-icon-send-number:before {
  content: "\e93e";
}
.custom-icon-settings:before {
  content: "\e93f";
}
.custom-icon-shelf-new:before {
  content: "\e940";
}
.custom-icon-shield:before {
  content: "\e941";
}
.custom-icon-shirt:before {
  content: "\e942";
}
.custom-icon-shopping-bag:before {
  content: "\e943";
}
.custom-icon-shopping-cart:before {
  content: "\e944";
}
.custom-icon-small-calendar:before {
  content: "\e945";
}
.custom-icon-smartphone:before {
  content: "\e946";
}
.custom-icon-smartphone-and-tablet:before {
  content: "\e947";
}
.custom-icon-sofa:before {
  content: "\e948";
}
.custom-icon-stick-man:before {
  content: "\e949";
}
.custom-icon-twitter .path1:before {
  content: "\e94a";
  color: rgb(85, 172, 238);
}
.custom-icon-twitter .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}
.custom-icon-user .path1:before {
  content: "\e94c";
  color: rgb(231, 236, 237);
}
.custom-icon-user .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(85, 96, 128);
}
.custom-icon-video-camera:before {
  content: "\e94e";
}
.custom-icon-view:before {
  content: "\e94f";
}

