<div class="bg-img h-100-vh position-relative public-pages">
  <div class="card-container">
    <header class="header">
      <h1 class="mb-60">applancer</h1>
    </header>
    <div class="form-wrapper">
      <form class="" (ngSubmit)="submit()" [formGroup]="form">
        <div class="input-block">
          <label>Email</label>
          <input class="form-control" type="email" formControlName="email" placeholder="Enter your email">
        </div>
        <div class="input-block">
          <label>Password</label>
          <input class="form-control" type="password" formControlName="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-default btn-block text-uppercase radius-0 btn-lg">Sign Up</button>
        <h6 class="text-center">Already a developer ?  <a routerLink="/signin">Sign In</a></h6>
      </form>
    </div>
  </div>
</div>