
<div class="web-app">


  <header class="doc-header">
    <div class="container">
      <div class="dh-inner clearfix">
        <a href="/" class="app-logo">applancer</a>
        <ul class="head-nav">
          <li><a href="">App development companies</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Forum</a></li>
        </ul>
        <div class="quick-actions">
          <a href=""><i class="icon icon-search"></i></a>
          <a href="">Sign In</a>
          <a class="btn btn-transparent btn-sm" href="">Get Listed</a>
        </div>
      </div>
    </div>
  </header>

  <section class="banner-canvas nav-bg-merger">
    <div class="container">
      <div class="bc-inner">
        <div class="vertical-centered-area row row-eq-height banner-form-area">
          <div class="left-col col-md-7">
            <div class="cta-content">
              <h1>App Developers Forum</h1>
              <p class="text-left">Do you have questions, answers or comments about mobile app
                development? Would you like to discuss all things mobile with
                other developers?</p>
            </div>
          </div>
          <div class="right-col col-md-5">
            <form class="cta-form-wrap">
              <div class="field-block">
                <input type="email" placeholder="Enter your email">
              </div>
              <button type="submit" class="btn btn-default btn-block text-uppercase radius-0 btn-lg">Post a project for free</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section post-project with-header">
    <div class="container">
      <header class="section-head underline">
        <h4>Post New Thread</h4>
      </header>
      <div class="form-wrapper" *ngIf="form">
        <form (ngSubmit)="submit()" [formGroup]="form" >
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="input-block">
                <label>Topic</label>
                <select class="form-control" formControlName="forumTopicId">
                  <option value="{{topic.id}}" *ngFor="let topic of forums">{{topic?.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-block">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Enter thread title" formControlName="title">
              </div>
            </div>
            <div class="col-12">
              <div class="input-block">
                <label>Description*</label>
                <textarea class="form-control height-150" formControlName="content"></textarea>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <button class="btn btn-default btn-full-width btn-lg" type="submit">Post</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-lg-4">
          <div class="about-us-f">
            <a href="#" class="logo-footer">app<span>lancer</span></a>
            <p class="details">AppLancer the community for mobile
              app developers where they can meet people
              or companies looking to hire the best firms
              to develop an app project.
            </p>

            <p>Contact us at hello@appLancer.com</p>
            <span class="contact-info margin">xxxxx - xxxxx</span>
            <span class="contact-info">xxxxx - xxxxx</span>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-4">
              <h5>About AppLancer</h5>
              <ul>
                <li><a href="">How it works</a></li>
                <li><a href="">Sponsorship</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">F.A.Q.</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Activity feed</a></li>
                <li><a href="">Advertise</a></li>
                <li><a href="">Press room</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>App Developers by platform</h5>
              <ul>
                <li><a href="">App Developers</a></li>
                <li><a href="">Android App Developers</a></li>
                <li><a href="">iOS App Developers</a></li>
                <li><a href="">iPhone App Developers</a></li>
                <li><a href="">iPad App Developers</a></li>
                <li><a href="">Web Developers</a></li>
                <li><a href="">Cross Platform App Developers</a></li>
                <li><a href="">Windows App Developers</a></li>
                <li><a href="">Wearable App Developers</a></li>
                <li><a href="">React Native App Developers</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>App Developers by location</h5>
              <ul>
                <li><a href="">App Developers United States</a></li>
                <li><a href="">App Developers India</a></li>
                <li><a href="">App Developers Ukraine</a></li>
                <li><a href="">App Developers United Kingdom</a></li>
                <li><a href="">App Developers Poland</a></li>
                <li><a href="">App Developers Canada</a></li>
                <li><a href="">App Developers Russia</a></li>
                <li><a href="">App Developers Australia</a></li>
                <li><a href="">App Developers UAE</a></li>
                <li><a href="">App Developers New York</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <footer class="footer mobile">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="#" class="logo-footer">app<span>lancer</span></a>
          <div class="row">
            <div class="col-5">
              <h5>About AppLancer</h5>
              <ul>
                <li><a href="">How it works</a></li>
                <li><a href="">Sponsorship</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">F.A.Q.</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Activity feed</a></li>
                <li><a href="">Advertise</a></li>
                <li><a href="">Press room</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
            <div class="col-7">
              <h5>App Developers by platform</h5>
              <ul>
                <li><a href="">App Developers</a></li>
                <li><a href="">Android App Developers</a></li>
                <li><a href="">iOS App Developers</a></li>
                <li><a href="">iPhone App Developers</a></li>
                <li><a href="">iPad App Developers</a></li>
                <li><a href="">Web Developers</a></li>
                <li><a href="">Cross Platform App Developers</a></li>
                <li><a href="">Windows App Developers</a></li>
                <li><a href="">Wearable App Developers</a></li>
                <li><a href="">React Native App Developers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h5>App Developers by location</h5>
          <ul>
            <li><a href="">App Developers United States</a></li>
            <li><a href="">App Developers India</a></li>
            <li><a href="">App Developers Ukraine</a></li>
            <li><a href="">App Developers United Kingdom</a></li>
            <li><a href="">App Developers Poland</a></li>
            <li><a href="">App Developers Canada</a></li>
            <li><a href="">App Developers Russia</a></li>
            <li><a href="">App Developers Australia</a></li>
            <li><a href="">App Developers UAE</a></li>
            <li><a href="">App Developers New York</a></li>
          </ul>
        </div>
        <div class="col-12">
          <p class="details">AppLancer the community for mobile
            app developers where they can meet people
            or companies looking to hire the best firms
            to develop an app project.
          </p>

          <p>Contact us at hello@appLancer.com</p>
          <span class="contact-info margin">xxxxx - xxxxx</span>
          <span class="contact-info">xxxxx - xxxxx</span>
        </div>
      </div>
    </div>
  </footer>

</div>