.banner-canvas{
  position: relative;
  background: url('#{$imgs}/banner-bg.png') top center;
  background-size: cover;
  @include font-size(2.2);
  font-family: $cabin;
  color: #fed9cb;
  @media (max-width: 767px) {
    margin-bottom: 100px;
  }
  a{
    color: inherit;
  }
  strong{
    font-weight: inherit;
    color: #fff;
    text-decoration: underline;
  }
  .bc-inner{
    padding: 55px 0 80px;
    @media (max-width: 1400px) {
      padding: 25px 0 60px;
    }
    @media (max-width: 767px) {
      padding: 5px 0 0;
    }
    margin: auto;
    text-align: center;
    @media (min-width: 1024px) {
      max-width: 86%;
    }

    .cta-form-wrap{
      background: #fff;
      padding: 80px 60px;
      max-width: 500px;
      margin-left: auto;
      border-radius: 4px;
      &.with-arrow-pointer{
        position: relative;
        .arrow-pointer{
          position: absolute;
          right: 100%;
          margin-right: 2vw;
          top: 0;
          @media (max-width: 1400px) {
            margin-right: 5vh;
          }
          @media (max-width: 992px) {
            margin-top: -10px;
          }
          @media (max-width: 767px) {
              display: none;
          }
        }
      }
      @media (max-width: 1400px) {
        padding: 70px 50px;
      }
      @media (max-width: 992px) {
        padding: 40px 30px;
      }
      @media (max-width: 767px) {
        margin-bottom: -100px;
        max-width: 100%;
        width: 100%;
        box-shadow: 0 0 5px rgba(#000,0.3);
      }
      .field-block{
        margin-bottom: 40px;
        @media (max-width: 1400px) {
          margin-bottom: 30px;
        }
        @media (max-width: 992px) {
          margin-bottom: 20px;
        }
      }
      .btn.btn-lg{
        @media (max-width: 1400px) {
          padding: 23px 10px;
        }
        @media (max-width: 1200px) {
          @include font-size(1.6);
        }
      }
      input{
        width: 100%;
        border: 1px solid #d7d7d7;
        height: 70px;
        padding: 0 30px;
        color: $blue;
        @media (max-width: 1400px) {
          padding: 0 20px;
          height: 65px;
        }
        &::placeholder{
          color: #d7d7d7;
          opacity: 1;
        }
        margin-bottom: 10px;
      }
    }
    .cta-content{
      text-align: left;
      p{
        .landing-page &{
          @include font-size(2.4);
          @media (max-width: 1400px) {
              @include font-size(2.2);
          }
          @media (max-width: 600px) {
              @include font-size(1.8);
          }
        }
        max-width: 600px;
        @media (max-width: 500px) {
          @include font-size(1.8);
        }
      }
      h1{
        margin-top: 0;
        text-align: left;
        border-bottom: none;
        padding-bottom: 0;
        @include font-size(5.6);
        .landing-page &{
          @include font-size(5);
        }
        @media (max-width: 1630px) {
          @include font-size(5);
          margin-bottom: 20px;
        }
        @media (max-width: 1330px) {
            @include font-size(4);
        }
        @media (max-width: 550px) {
          @include font-size(3.4);
        }
      }
      @media (max-width: 767px) {
        line-height: 1.8;
        padding-top: 25px;
        padding-bottom: 35px;
      }
    }
    .left-col{

    }
  }
  h1{
    span.project-count{
      display: block;
    }
    color: #fff;
    @include font-size(6.4);
    .landing-page &{
      @include font-size(5);
      @media (max-width: 1600px) {
          @include font-size(4);
      }
    }
    text-transform: uppercase;
    font-weight: 900;
    font-family: $adam;
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    border-bottom: 1px solid rgba(#ffffff,0.5);
    padding-bottom: 25px;
    margin-bottom: 50px;
    @media (max-width: 1630px) {
      @include font-size(5.7);
      padding-bottom: 20px;
      margin-bottom: 40px;

    }
    @media (max-width: 1530px) {
      @include font-size(5);

    }
    @media (max-width: 1340px) {
      @include font-size(4.4);
    }
    @media (max-width: 1230px) {
      @include font-size(4);
      padding-bottom: 25px;
    }
    @media (max-width: 1020px) {
      @include font-size(3.6);
    }
    @media (max-width: 900px) {
      @include font-size(4);
      padding-bottom: 25px;
      margin-bottom: 25px;
      display: block;
      text-align: left;
    }
    @media (max-width: 530px) {
      @include font-size(3);
    }
  }
}
.vertical-centered-area{
  display: flex;
  align-items: center;
  justify-content: center;
}

.already-sub-msg,.form-submit-message,.cta-message{
  color: $dark_blue;
  h1,h2,h3,h4,h5,h6,strong{
    color: $dark_blue;
    text-decoration: none;
  }
  strong{
    font-weight: bold;
  }
  p{
    font-weight: 400;
    margin-top: 15px;
    color: #7f7f81;
  }

}