.btn,a.btn,.grey-wrapper a.btn{
  font-size: inherit;
  border: none;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  border-radius: 2px;
  transition: all 0.2s ease-in;
  padding: 15px 25px;
  background: $theme_color;
  color: #fff;
  line-height: 1;
  text-decoration: none !important;
  position: relative;
  &.btn--loading{
    pointer-events: none;
    &:before{
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      background: #ddd;
      animation: load 1.5s ease-out infinite;
      left: 0;
      top: 0;
    }
  }
  &.btn-sm{
    padding: 12px 20px;
    font-weight: 400;
    @include font-size(1.5);
    @include letter-spacing-ps(25);
  }
  &.btn-transparent{
    font-family: $circular;
    background: none;
    border: 1px solid #fff;
  }
  &.btn-default{
    color: #fff;
    font-family: $cabin;
    background: #303c48;
    @include font-size(2);
  }
  &.btn-secondary{
    background: #687178;
    color: #fff;
  }
  &.btn-warm{
    background: #b99339;
    color: #fff;
  }
  &.btn-grey{
    background: #c7c7c7;
    color: #fff;
  }
  &.btn-lg{
    padding: 25px 50px;
    &.btn-wider{
      padding: 22px 35px;
      @media (min-width: 768px) {
        min-width: 440px;
      }
    }
    &.btn-wider-fix{
      @media (max-width: 767px) {
        white-space: normal;
        padding: 18px 20px;
        @include font-size(1.6);
        
      }
    }
  }
  &.btn-full-width{
    width: 100%;
  }
}


@keyframes load {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    width: 100%;
    opacity: .8;
    left: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}