.table-wrapper{
  background: #fbfbfb;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  overflow: hidden;
  .head{
    background: #fbefec;
    padding: 20px 30px;
    h5{
      margin: 0;
    }
  }
  .body{
    margin: 30px;
    border-bottom: 1px solid #eeeeee;
    .content{
      position: relative;
      padding-left: 80px;
      figure{
        position: absolute;
        left: -15px;
        top: 0;
        height: 65px;
        width: 65px;
      }
    }
    h5,h6{
      margin: 0;
    }
    p{
      color: #b9babd;
      font-size: 14px;
      margin-bottom: 2.5rem;
    }
  }
}