

.footer{
  padding: 70px 0;
  background: #030127;
  color: #dedede;
  @media(max-width: 767px) {
    display: none;
    padding: 45px 0;
  }
  .landing-page &{
    padding: 20px 0;
  }
  .logo-footer{
    padding-bottom: 14px;
    color: #ffffff;
    display: block;
    font-size: 24px;
    font-family: $muli;
    .landing-page &{
      padding-bottom: 0;
      display: inline-block;
    }
    &:hover{
      text-decoration: none;
    }
    span{
      color: $red;
    }
  }
  p{
    line-height: 2.2;
    font-size: 16px;
  }
  .details{
   margin-bottom: 100px;
    @media (max-width: 992px) {
        margin-bottom: 20px;
    }
  }
  .about-us-f{
    @media (max-width: 992px) {
        margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(#fff,0.2);
    }
  }
  .contact-info{
    display: block;
    color: #838da9;
    font-size: 16px;
    &.margin{
      margin-bottom: 25px;
      @media (max-width: 992px) {
        margin-bottom: 10px;
      }
    }
  }
  h5{
    font-size: 20px;
    margin: 0;
    color: #dadada;
    @media (max-width: 767px) {
      @include font-size(1.8);
      
    }
    @media (max-width: 400px) {
      @include font-size(1.6);
    }
  }
  ul{
    margin-bottom: 0;
    padding-top: 20px;
    padding-left: 0;
    li{
      line-height: 1.4;
      display: block;
      & + li{
        margin-top: 4px;
      }
      a{
        display: block;
        color: #838da9;
        @include font-size(1.6);
        padding: 6px 0;
      }
    }
  }


  &.mobile{
    .logo-footer{
      margin-bottom: 25px;
    }
    ul{
      margin-bottom: 30px;
      li{
        a{
          @include font-size(1.4);
          @media (max-width: 400px) {
              @include font-size(1.2);
              
          }
        }
      }
    }
    display: none;
    @media(max-width: 767px) {
      display: block;
    }
    .details {
      padding-bottom: 0;
      line-height: 20px;
    }
    .contact-info{
      display: inline-block;
    }
  }
}