


.input-block{
  margin-bottom: 45px;
  position: relative;
  label{
    color: #5f6975;
    font-size: 16px;
    margin-bottom: 20px;
    .required{
      color: $red;
    }
  }
  .form-control{
    border-radius: 5px;
    font-size: 16px;
    color: #5f6975;
    padding-left: 25px;
  }

  input.form-control,select.form-control{
    height: 60px;
  }
  textarea.form-control{
    padding-top: 20px;
    min-height: 100px;
    &.height-150{
      min-height: 150px;
    }
  }

  input[type="checkbox"]{
    width: 25px !important;
    height: 25px !important;
  }
  &.file{
    position: relative;
    label{
      margin-bottom: 5px;
    }
    span{
      color: #a7adb3;
      display: block;
    }
    .btn{
      position: absolute;
      right: 0;
      top: 0;
      z-index: -9;
    }
    input{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  input[type="file"]{
    border: 0;
    float: right;
    width: 150px;
    height: 48px;
    overflow: hidden;
    opacity: 0;
    z-index: 999;
  }

  
  &.checkbox-left{
    padding-left: 50px;
    label{
      font-size: 20px;
      color: #303c48;
    }
    input{
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}