.forum-inner{
  position: relative;
  padding-left: 200px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  .left-area{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    padding: 20px;
    ul{
      li{
        display: block;
        color: #5f6975;
        font-size: 1.4rem;
      }
    }
  }
  .right-area{
    padding: 30px 25px;
    min-height: 410px;
    border-left: 1px solid #eeeeee;
    p{
      color: #5f6975;
      font-size: 1.4rem;
    }
    h6{
      color: #303c48;
      &.dark{
        color: #212121;
      }
    }
    h5{
      color: #5f6975;
      line-height: 1.5;
      font-weight: 400;
    }
  }
}