html{
  font-size: 62.5%;
}

body {
  font-family: $montserrat;
  @include font-size(1.8);
  line-height: normal;
  @media (max-width: 1400px) {
    @include font-size(1.6);
  }
}
.container{
  width: 100% !important;
  max-width: 1600px !important;
  padding: 0 30px;
  @media (max-width: 1600px) {
      max-width: 90% !important;
  }
  @media (max-width: 1300px) {
      max-width: 96% !important;
  }
  @media (max-width: 1200px) {
      max-width: 98% !important;
  }
  @media (max-width: 500px) {
    padding: 0 15px;
  }
}
p{
  line-height: 1.6;
}
small,.small{
  font-size: 78%;
}

input{
  box-shadow: none !important;
}
a, input,button {
  outline: none !important;
}
button{
  cursor: pointer;
}
figure{
  margin: 0;
}
input,.input-group .form-control{
  font-size: inherit;
}
img{
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 30px 0;
  line-height: normal;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 16px;
}

p{
  font-size: 20px;
}

ul{
  padding-left: 20px;
  li{
    font-size: 20px;
    line-height: 35px;
    @media (max-width: 767px) {
        @include font-size(1.6);
      line-height: 1.4;
    }
  }
}

/*====Helping classes====*/
.hidden{
  display: none !important;
}

.text-underline{
  text-decoration: underline;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-capitalize{
  text-transform: capitalize;
}
.text-bold{
  font-weight: bold;
}

// padding and margin classes from 0 to 100
$num: 0;

@while $num < 101 {
  .pt-#{$num} {
    padding-top: #{$num}px;
  }
  .pb-#{$num} {
    padding-bottom: #{$num}px;
  }
  .mt-#{$num} {
    margin-top: #{$num}px;
  }
  .mb-#{$num} {
    margin-bottom: #{$num}px;
  }
  $num: $num + 1;
}




.radius-0{
  border-radius: 0 !important;
}
.hidden-992{
  @media (max-width: 992px) {
    display: none !important;
  }
}
.hidden-767{
  @media (max-width: 767px) {
    display: none !important;
  }
}
.text-widget{
  color: #7f7f81;
  p{
    font-size: inherit;
  }
}
.grey-section{
  background: #fcfcfc;
}