.doc-header{
  background-image: -moz-linear-gradient( 45deg, rgb(255,86,81) 0%, rgb(255,165,94) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(255,86,81) 0%, rgb(255,165,94) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(255,86,81) 0%, rgb(255,165,94) 100%);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  color: #fff;
  a{
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
  }
  .dh-inner{
    padding: 45px 0;
    font-family: $circular-book;
    @include font-size(2);
    @media (max-width: 1400px) {
      padding: 30px 0;
      @include font-size(1.8);
    }
    @media (max-width: 500px) {
      @include font-size(1.6);
    }

  }
  .app-logo{
    @include font-size(2.4);
    font-weight: bold;
    font-family: $muli;
    display: block;
    float: left;
    @media (max-width: 500px) {
      @include font-size(2);
      
    }
  }
  .head-nav{
    margin-bottom: 0;
    margin-left: 40px;
    padding-left: 20px;
    display: block;
    float: left;
    line-height: 1.6;
    border-left:1px solid #cccccc;
    @media (max-width: 1400px) {
      margin-left: 25px;
      padding-left: 15px;
    }
    @media (max-width: 1030px) {
        display: none;
    }
    li{
      display: block;
      float: left;
      padding: 0 30px;
      @media (max-width: 1400px) {
        padding: 0 20px;
      }
      @media (max-width: 1300px) {
        padding: 0 10px;
      }
      a{
        display: block;
      }
    }
  }
  .btn-transparent{
    text-transform: uppercase;
    &.btn-sm{
      padding: 8px 20px 6px;
      @media (max-width: 500px) {
        padding: 8px 10px 6px;
      }
    }
  }
  .quick-actions{
    float: right;
    a{
      margin: 0 30px;
      @media (max-width: 1400px) {
        margin: 0 20px;
      }
      @media (max-width: 1200px) {
        margin: 0 10px;
      }
      @media (max-width: 500px) {
        margin: 0 5px;
      }
      @media (max-width: 400px) {
        margin: 0 2px;
      }
    }
  }
  .no-nav-bg &{
    background: none;
  }
}


