


.horizontal-card{
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 30px 30px 30px 120px;
  position: relative;
  background: #fbfbfb;
  margin: 30px 0 0;
  @media (max-width: 600px) {
      padding: 20px 20px 20px 80px;
  }
  .logo{
    position: absolute;
    left: 30px;
    top: 30px;
    height: 60px;
    width: 60px;
    @media (max-width: 600px) {
      left: 20px;
      width: 40px;
      height: auto;
    }
    img{
      width: 100%;
      height: 100%;
    }
    &.big{
      height: 110px;
      width: 110px;
    }
  }
  header{
    position: relative;
    .verified-tag{
      position: absolute;
      right: 0;
      top: 0;
      color: #5ac5af;
      font-size: 14px;
      font-family: $montserrat;
      @media (max-width: 600px) {
        @include font-size(1.1);
      }
      .icon{
        padding-right: 5px;
        font-size: 20px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -25px;
      }
    }
    .btn-right{
      position: absolute;
      right: 0;
      top: 0;
    }
    h6{
      font-size: 17px;
      font-family: $montserrat;
      font-weight: 500;
      color: $gray_blue;
      margin: 10px 0 5px;
    }
    .sub-heading{
      color: #a5a8ac;
      margin-bottom: 20px;
    }
    .rating{
      .icon{
        color: $golden;
        padding-right: 0;
      }
      span{
        font-size: 14px;
        color: $gray;
        display: inline-block;
        padding-right: 10px;
      }
      .reviewed-by{
        padding-left: 10px;
        @media (max-width: 600px) {
          display: block;
          padding: 0;
          margin-top: 10px;
        }
      }
    }
    .btn{
      color: #ffffff;
    }
    .btn-list{
      .btn{
        margin-right: 10px;
        &.btn-sm{
          @media (max-width: 1500px) {
            @include font-size(1.2);
            margin-right: 5px;
            padding: 10px 15px;
            margin-bottom: 5px;
          }
        }
      }
    }

  }
  .content{
    h4{
      @include font-size(1.9);
      font-family: $montserrat;
      font-weight: 500;
      color: $dark_blue;
      margin-bottom: 20px;
      @media (max-width: 600px) {
        @include font-size(1.6);
        margin-bottom: 15px;
      }
    }
    p{
      @include font-size(1.5);
      color: $gray;
      margin-bottom: 20px;
      @media (max-width: 600px) {
        @include font-size(1.4);
        margin-bottom: 15px;

      }
    }
    .view-details,a.view-details{
      font-size: 16px;
      color: $gray_blue;
      font-weight: 500;
      text-decoration: none;
      &:hover{
        color: $theme_color;
      }
      .icon{
        padding-left: 15px;
      }
    }
    .contact-list{
      span,a{
        display: inline-block;
        padding-right: 35px;
        @include font-size(1.5);
        position: relative;
        padding-left: 27px;
        color: #7f7f81;
        margin-bottom: 4px;
        @media (max-width: 1400px) {
          padding-right: 15px;
          @include font-size(1.3);
          padding-left: 20px;
        }
        &:hover{
          color: $theme_color;
          text-decoration: none;
        }
        .icon{
          position: absolute;
          top: 0;
          left: 0;
          line-height: inherit;
        }
      }
    }
  }

  &.featured{
    background: #fbefec;
    border: 1px solid #e1b3a8;
  }
  &.bg-dark{
    background: #f6f6f6 !important;
  }

  &.small{
    padding: 20px 20px 20px 90px;
    .logo{
      left: 20px;
      top: 20px;
      height: 50px;
      width: 50px;
    }
  }

  &.style-testimonial{
    padding: 50px 30px;
    background: #fbfafa;
    header{
      position: relative;
      padding-left: 150px;
      margin-bottom: 70px;
      h3{
        font-size: 30px;
      }
      h5{
        font-size: 20px;
        margin: 10px 0;
        color: #5f6975;
      }
      figure{
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 120px;
        width: 120px;
        border-radius: 50%;
        img{
          height: 100%;
          width: 100%;
        }
      }
    }
    .content{
      p{
        font-size: 20px;
      }
    }
  }
  &.white-card{
    padding: 50px 120px;
    background: #ffffff;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 100px 80px 0 rgba(0, 0, 0, 0.01);
    &.text-centered{
      padding: 80px 35px;
      text-align: center;
      header{
        padding-left: 0;
        margin-bottom: 0;
        figure{
          position: relative;
          left: auto;
          top: auto;
          margin: 0 auto;
        }
        i{
          display: inline-block;
          font-size: 70px;
          line-height: 170px;
          height: 170px;
          width: 170px;
          text-align: center;
          background: $red;
          color: #ffffff;
          border-radius: 50%;
        }
      }
      .content{
        p{
          font-size: 19px;
        }
      }
    }
    header{
      margin-bottom: 45px;
      padding-left: 106px;
      figure{
        left: 25px;
        height: 50px;
        width: 50px;
      }
    }
  }

  &.detail-design{
    padding: 30px 30px;
    @media (max-width: 1200px) {
        padding: 20px;
    }
    .logo.big{
      @media (max-width: 1200px) {
        width: 80px;
        height: auto;
        left: 20px;
        top:20px;
      }
    }
    .verified-tag-xs{
      display: none;
      @media (max-width: 767px) {
          display: inline-block;
        margin-top: 25px;
      }
    }
    header{
      padding-left: 105px;
      .certified-dev{
        @media (max-width: 992px) {
            display: block;
        }
      }
      .verified-tag{
        right: 10px;
        top: 10px;
        @media (max-width: 767px) {
            display: none;
        }
      }
      &.bog-logo{
        padding-left: 170px;
        margin-bottom: 40px;
        padding-right: 150px;
        @media (max-width: 1200px) {
            padding-left: 100px;
        }
        @media (max-width: 767px) {
          padding-right: 0;
        }
        h3{
          @media (max-width: 1400px) {
              @include font-size(2.6);
          }
          @media (max-width: 767px) {
            @include font-size(2);
            
          }
        }
        h5{
          @media (max-width: 1400px) {
              @include font-size(1.6);
          }
          @media (max-width: 767px) {
            @include font-size(1.4);
            
          }
        }
      }
    }
    .content{
      .bottom-btn{
        margin-top: 70px;
      }
    }
    ul{
      li{
        :after{
          content: '';
        }
      }
    }
  }

  &.with-detail-btn {
    header{
      padding-right: 295px;
      @media (max-width: 1400px) {
        padding-right: 250px;
      }
      @media (max-width: 1199px) {
        padding-right: 0;
      }
    }
    .view-project-detail {
      @media (min-width: 1200px) {
        position: absolute;
        right: 30px;
        top: 30px;
      }
      @media (max-width: 1400px) and (min-width: 1200px) {
        top: 25px;
        right: 25px;
      }
      @media (max-width: 1199px) {
          margin-top: 15px;
      }
    }
  }

  &.with-right-area{
    padding: 30px 295px 30px 120px;
    @media (max-width: 1400px) {
        padding: 25px 250px 25px 100px;
    }
    @media (max-width: 1199px) {
      padding-right: 25px;
    }
    .logo{
      left: 20px;
      top: 25px;
    }


    .right-area{
      position: absolute;
      right: 30px;
      top: 30px;
      @media (max-width: 1400px) {
        top: 25px;
        right: 25px;
      }
      .btn.view-details{
        @media (max-width: 1400px) {
            padding: 8px 15px;
        }
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 20px;
      }
      p{
        color: #7f7f81;
        font-size: 15px;
      }
      ul{
        li{
          a{
            color: #7f7f81;
            font-size: 15px;
          }
        }
      }
    }
  }

}

.with-action{
  padding-right: 220px;
  h1,h2,h3,h4,h5,h6{
    line-height: 1.4;
    @media (max-width: 767px) {
      margin-top: 20px !important;
    }
  }
  @media (max-width: 767px) {
      padding-right: 0;
  }
  .btn{
    @media (max-width: 767px) {
        position: relative !important;
      right: auto !important;
      top: auto !important;
    }
  }
}
