@mixin transition($property,$time,$transition) {
  transition:$property $time $transition;
  -webkit-transition:$property $time $transition;
  -o-transition:$property $time $transition;
}

@mixin translate($xAxis,$yAxis){
  transform: translate($xAxis, $yAxis);
  -webkit-transform: translate($xAxis, $yAxis);
  -moz-transform: translate($xAxis, $yAxis);
  -o-transform: translate($xAxis, $yAxis);
  -ms-transform: translate($xAxis, $yAxis);
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


@mixin letter-spacing-ps($val) {
  letter-spacing: ( $val / 1000 ) * 1em;
}
