
.section{
  padding: 60px 0;
  @media (max-width: 1200px) {
      padding: 40px 0;
  }

  .section-head{
    &.font-montserrat{
      h1,h2,h3,h4,h5,h6{
        font-family: $montserrat;
      }
    }
    &.underline{
      border-bottom: 1px solid #e6e6e6;
      h1,h2,h3,h4,h5,h6{
        margin-bottom: 20px;
      }
    }
    h1,h2,h3,h4,h5,h6{
      font-family: $adam;
      color: $blue;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.2;
    }
    h2{
      @include font-size(4);
      @media (max-width: 1200px) {
          @include font-size(3);
      }
      @media (max-width: 860px) {
          @include font-size(2);
      }
    }
    h3{
      font-size: 33px;
      @media (max-width: 1200px) {
        @include font-size(2.6);
      }
    }
    h4{
      font-size: 24px;
      @media (max-width: 1100px) {
        @include font-size(2);
      }
    }
    h5{
      font-size: 20px;
    }
    h6{
      font-size: 16px;
    }
  }
  &.post-project{
    padding-top: 0;
  }
}
.section-end-btn{
  margin-top: 60px;
}



.grey-wrapper{
  background: #fcfcfc;
  border-radius: 10px;
  border: 1px solid #dedede;
  padding: 40px;
  position: relative;
  .col-md-4{
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
  }
  @media (max-width: 1199px) {
      padding: 30px;
  }
  @media (max-width: 767px) {
      padding: 15px;
  }
  &.big{
    padding: 60px 90px;
  }
  &.small{
    padding: 35px;
  }
  &.full-height{
    height: 100%;
  }
  &.with-header{
    padding: 40px 50px;
    @media (max-width: 1300px) {
        padding: 30px 25px;
    }
    header{
      position: relative;
      h1,h2,h3,h4,h5,h6{
        font-family: $montserrat;
        font-weight: 500;
        margin-top: 0;
        line-height: 1.4;
        margin-bottom: 15px;
      }
      h4{
        font-size: 24px;
        @media (max-width: 1200px) {
            @include font-size(2);
            
        }
      }
      h5{
        font-size: 20px;
      }
      h6{
        font-size: 16px;
      }
      &.font-adam{
        h1,h2,h3,h4,h5,h6{
          font-family: $adam;
          font-weight: bold;
        }
      }
      .btn{
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    nav{
      ul{
        padding-left: 36px;
      }
    }

  }
  &.user-review{
    padding-right: 400px;
    min-height: 425px;
    .horizontal-card.small{
      .content{
        p{
          @media (max-width: 1370px) {
            @include font-size(1.6);

          }
        }
      }
    }
    @media (max-width: 992px) {
        padding-right: 20px;
    }
    .review-card{

      padding: 28px 25px;
      @media (min-width: 993px) {
        position: absolute;
        right: 50px;
        top: 50px;
      }
      @media (max-width: 992px) {
          border-left: 0;
          border-right: 0;
        border-radius: 0;
        padding: 15px 0
      }
      .rating{
        .icon{
          color: $golden;
        }
      }
      .table{
        margin-bottom: 0;
        tr{
          &:last-child{
            th, td{
              padding-bottom: 0;
            }
          }
        }
        th, td{
          color: #535d66;
          font-size: 16px;
          font-weight: 400;
          border: 0;
          padding: 15px 0;
          @media (max-width: 992px) {
            padding: 4px 0;
          }
        }
        th{
          padding-right: 20px;
        }
        td{
          text-align: right;
        }
      }
    }
  }
  &.with-tabs{
    padding: 70px 50px 50px;
    border-radius: 0;
    p{
      font-size: 20px;
    }
    ul.tabs{
      position: absolute;
      left: 0;
      top: -1px;
    }
    ul.contact-list{
      padding-left: 20px;
      li{
        font-size: 20px;
        color: #303c48;
        &:after{
          content: '';
          height: 7px;
          width: 7px;
          left: -20px;
          top: 25px;
          background: $dark_blue;
          border-radius: 50%;
        }
        a{
          font-size: 20px;
          color: #303c48;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }
    ul.activity-feed{
      padding-left: 0;
      li{
        padding: 30px 0;
        margin: 40px 0;
        position: relative;
        padding-left: 150px;
        padding-right: 100px;
        &:after{
          content: '';
        }
        a{
          text-decoration: none;
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        figure{
          position: absolute;
          left: 37px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          height: 90px;
          width: 90px;
          img{
            height: 100%;
            width: 100%;
          }
        }
        p{
          margin-bottom: 0;
        }
        .time{

          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }
  &.optional-field{
    padding: 40px 400px 40px 145px;
    .price-tag{
      height: 70px;
      width: 70px;
      line-height: 70px;
      border-radius: 50%;
      background: $dark_blue;
      text-align: center;
      color: #ffffff;
      font-size: 20px;
      position: absolute;
      left: 30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .btn{
      min-width: 190px;
      position: absolute;
      right: 140px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    input{
      width: 25px;
      position: absolute;
      right: 45px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    p{
      margin-bottom: 0;
      font-size: 19px;
      color: #8e9297;
      b{
        font-weight: 500;
        color: #303c48;
      }
    }
  }
  nav{
    ul{
      padding-left: 0;
      margin-bottom: 0;
      li{
        color: $gray_blue;
        font-size: 16px;
        display: block;
        position: relative;
        line-height: 1.4;
        padding-left: 35px;
        a{
          font-weight: inherit;
        }
        & + li{
          margin-top: 20px;
        }
        &:after{
          position: absolute;
          left: 0;
          top: 0;
          line-height: inherit;
          content: "\e903";
          color: $red;
          font-family: 'font-icons' !important;
        }
      }
    }
  }
  p + ul{
    margin: 35px 0;
  }

  ul{
    padding-left: 35px;
    margin-bottom: 0;
    li{
      color: #5f6975;
      display: block;
      position: relative;
      @include font-size(1.6);
      & + li{
        margin-top: 2px;
      }
      &:after{
        position: absolute;
        left: -35px;
        top: 0;
        line-height: inherit;
        content: "\e90b";
        color: $red;
        font-family: 'font-icons' !important;

      }
      a{
        color: inherit;
        text-decoration: none;
        font-size: inherit;
        font-weight: inherit;
      }
    }
    &.pro-categories-list{
      padding-left: 0;
      li{
        padding: 2px 0;
        &:after{
          content: "";
        }
        a{
          text-decoration: none;
          .icon{
            padding-right: 20px;
          }
        }
      }
    }
  }
  h1{
    font-size: 50px;
  }
  h3{
    font-size: 30px;
  }
  p{
    font-size: 16px;
    line-height: 30px;
    color: #5f6975;
    .head{
      color: #303c48;
      font-size: 20px;
      font-family: $montserrat;
      font-weight: 500;
    }
  }
  a{
    font-weight: 500;
    font-size: 20px;
    color: #303c48;
    text-decoration: underline;
  }
  .content{
    p{
      font-size: 20px;
      @media (max-width: 1370px) {
          @include font-size(1.8);
      }
      @media (max-width: 1200px) {
          @include font-size(1.6);
      }
    }
  }
  .form-wrapper{
    border-radius: 10px;
    border: 1px solid #dedede;
    padding: 30px;
    .input-block{
      margin-bottom: 25px;
    }
    textarea{
      height: 125px;
    }
    .form-control{
      background: #ffffff;
    }
    .btn{
      width: 100%;
    }
  }
  .btn-wrapper{
    margin-top: 60px;
    .btn{
      margin: 10px;
    }
  }
}



ul.tabs{
  width: 100%;
  padding-left: 0;
  border: 1px solid #d5d5d5;
  &.five-tabs{
    li{
      width: 20%;
    }
  }
  &.four-tabs{
    li{
      width: 25%;
    }
  }
  &.three-tabs{
    li{
      width: 33.33%;
    }
  }
  li{
    float: left;
    display: block;
    text-align: center;
    background: #ebebeb;
    border-right: 1px solid #d5d5d5;
    padding: 0;
    &:after{
      content: '';
    }
    &:last-child{
      border-right: 0;
    }
    &.active{
      background: $red;
      color: #ffffff;
      a{
        color: #ffffff;
      }
    }
    a{
      text-decoration: none;
      display: block;
      padding: 18px 30px;
      font-size: 22px;
    }
  }

  &.style-light{
    border-top: 0;
    li{
      border-right: 0;
      background: #fcfcfc;
      &.active{
        a{
          background: #fcfcfc;
          color: $red;
        }
      }
      a{
        text-transform: uppercase;
        font-size: 30px;
        font-family: $adam;
        color: #d5d7d8;
        font-weight: bold;
      }
    }
  }
}


.map-wrapper{
  border: 6px solid #c2c2c2;
  border-radius: 4px;
  margin-right: 100px;
  img{
    width: 100%;
  }
}


ul.al-pagination{
  margin-top: 60px;
  text-align: center;
  padding-left: 0;
  li{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    @media (max-width: 767px) {
        margin: 0 5px;
    }
    a{
      text-decoration: none;
      font-size: 16px;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      display: block;
      border-radius: 50%;
      &.active{
        background: $red;
        color: #ffffff;
        &:hover{
          background: $red;
          color: #ffffff;
        }
      }
      &.paginate_button{
        background: #e6e7e8;
        &:hover{
          background: $red;
          color: #ffffff;
        }
      }
      &.paginate_page{
        &:hover{
          background: #e6e7e8;
          color: #303c48;
        }
      }
    }
    .divider{

      position: relative;
      display: block;
      &:after{
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        height: 37px;
        width: 1px;
        margin-top: -5px;
        background: #e6e8f0;
      }
    }
  }
}
.sidebar-canvas{
  position: relative;
  .app-sidebar{
    float: right;
    width: 395px;
    @media (max-width: 992px) {
      float: none;
      width: 100%;
      margin: 50px 0;
    }
    .section-head{
      padding: 1px 0;
      h4{
        margin: 35px 0 15px;
      }
    }
  }
  .sb-content{
    margin-right: 425px;
    @media (max-width: 992px) {
        margin-right: 0;
    }
  }
}


ul{
  padding-left: 0;
  li{
    a{
      i{
        padding-right: 15px;
      }
    }
  }
}



.companies-logos{
  padding: 70px 0;
}


.slider-wrapper{
  .slick-dots{
    text-align: center;
    li{
      display: inline-block;
      margin: 5px;
      height: 12px;
      width: 12px;
      &.slick-active{
        button{
          background: $red;
        }
      }
      button{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: 0;
        outline: none;
      }
    }
  }
}
.page-canvas{
  padding-top: 80px;
  @media (max-width: 1200px) {
      padding-top: 50px;
  }
  @media (max-width: 992px) {
      padding-top: 30px;
  }
}

.check-list{
  position: relative;
  padding: 0;
  li{
    display: block;
    padding-left: 35px;
    position: relative;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      width: 22px;
      height: 35px;
      max-height: 100%;
      background: url("#{$imgs}/checked.png") center center no-repeat;
      background-size: contain;
      content: "";
    }
    & + li{
      margin-top: 5px;
    }
  }
}
.gradient-section{
  background-image: -moz-linear-gradient( 45deg, rgb(255,86,81) 0%, rgb(255,165,94) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(255,86,81) 0%, rgb(255,165,94) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(255,86,81) 0%, rgb(255,165,94) 100%);
  color: #fff;
  .section-head{
    color: #fff;
    h1,h3,h4,h5,h6,h2{
      color: #fff;
    }
  }
  p{
    color: #fff;
  }
}

.lp-graphics{
  background: url("#{$imgs}/graphics.png") center center  no-repeat;
  @media (max-width: 992px) {
    display: none;
  }
}