.public-pages{
  background: url("#{$imgs}/banner-bg.png");
  .card-container{
    .header{
      text-align: center;
      h1,h2,h3,h4,h5,h6{
        color: #ffffff;
        font-family: $muli;
        font-weight: 800;
      }
    }
    .form-wrapper{
      width: 575px;
      background: #ffffff;
      border-radius: 15px;
      padding: 85px;
      label{
        font-family: $montserrat;
        font-weight: 500;
      }
    }
  }
}