.sponsorship{
  ul.tabs{
    width: auto;
    border: 0;
    text-align: right;
    font-size: 0;
    li{
      display: inline-block;
      width: auto;
      float: none;
      a{
        padding: 25px 45px;
      }
    }
  }
}

.pricing-table{
  border-radius: 4px;
  margin-top: 75px;
  header{
    background: $red;
    color: #ffffff;
    text-align: center;
    padding: 55px 35px 85px;
    border-radius: 4px 4px 0 0;
  }
  .body{
    position: relative;
    padding: 100px 30px 30px;
    background: #faf9f9;
    border: 1px solid #dedede;
    border-radius: 0 0 4px 4px;
    .price-tag{
      position: absolute;
      top: -72px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 144px;
      width: 144px;
      line-height: 135px;
      font-size: 25px;
      color: #ffffff;
      border-radius: 50%;
      border: 5px solid #faf9f9;
      text-align: center;
      background: $red;
    }
    ul{
      padding-left: 0;
      li{
        color: #707070;
        display: block;
        font-size: 15px;
        padding: 20px 0;
        i{
          padding-right: 10px;
        }
      }
    }
  }
}