$montserrat : 'Montserrat', sans-serif;
$cabin : 'Cabin', sans-serif;
$muli : 'Muli', sans-serif;
$adam : 'AdamGorry-Inline', sans-serif;
$adam : 'AdamGorry-Inline', sans-serif;
$circular : 'Circular Std', sans-serif;
$circular_book : 'CircularStd-Book', sans-serif;
$helvetica : 'Helvetica', sans-serif;

/*colors*/
$theme_color : #ff6053;
$blue : #303c48;
$dark_blue : #121a2d;
$gray_bg: #fbfbfb;
$gray : #7f7f81;
$gray_blue: #535d66;
$red: #fe6463;
$golden: #b99339;

/*paths*/
$imgs : './assets/img';
$fonts : './assets/fonts';