@font-face {
  font-family: 'font-icons';
  src:  url('#{$fonts}/font-icons.eot?8kdrut');
  src:  url('#{$fonts}/font-icons.eot?8kdrut#iefix') format('embedded-opentype'),
  url('#{$fonts}/font-icons.ttf?8kdrut') format('truetype'),
  url('#{$fonts}/font-icons.woff?8kdrut') format('woff'),
  url('#{$fonts}/font-icons.svg?8kdrut#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android-logo:before {
  content: "\e900";
}
.icon-apple:before {
  content: "\e901";
}
.icon-apple-watch:before {
  content: "\e902";
}
.icon-asterisk:before {
  content: "\e903";
}
.icon-blackberry:before {
  content: "\e904";
}
.icon-half-star:before {
  content: "\e905";
}
.icon-mobiles:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-right-arrow:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e90a";
}
.icon-star:before {
  content: "\e90b";
}
.icon-star-empty:before {
  content: "\e90c";
}
.icon-tablet:before {
  content: "\e90d";
}
.icon-verified:before {
  content: "\e90e";
}
.icon-wifi:before {
  content: "\e90f";
}
.icon-windows-logo:before {
  content: "\e910";
}
.icon-world-wirefram:before {
  content: "\e911";
}



@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-ExtraLightItalic.eot');
  src: url('#{$fonts}/Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-ExtraLightItalic.woff2') format('woff2'),
  url('#{$fonts}/Muli-ExtraLightItalic.woff') format('woff'),
  url('#{$fonts}/Muli-ExtraLightItalic.ttf') format('truetype'),
  url('#{$fonts}/Muli-ExtraLightItalic.svg#Muli-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-BlackItalic.eot');
  src: url('#{$fonts}/Muli-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-BlackItalic.woff2') format('woff2'),
  url('#{$fonts}/Muli-BlackItalic.woff') format('woff'),
  url('#{$fonts}/Muli-BlackItalic.ttf') format('truetype'),
  url('#{$fonts}/Muli-BlackItalic.svg#Muli-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-ExtraLight.eot');
  src: url('#{$fonts}/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-ExtraLight.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-ExtraLight.woff') format('woff'),
  url('#{$fonts}/Montserrat-ExtraLight.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Cabin';
  src: url('#{$fonts}/Cabin-Bold.eot');
  src: url('#{$fonts}/Cabin-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Cabin-Bold.woff2') format('woff2'),
  url('#{$fonts}/Cabin-Bold.woff') format('woff'),
  url('#{$fonts}/Cabin-Bold.ttf') format('truetype'),
  url('#{$fonts}/Cabin-Bold.svg#Cabin-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-Italic.eot');
  src: url('#{$fonts}/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-Italic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-Italic.woff') format('woff'),
  url('#{$fonts}/Montserrat-Italic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-Medium.eot');
  src: url('#{$fonts}/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-Medium.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-Medium.woff') format('woff'),
  url('#{$fonts}/Montserrat-Medium.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-ExtraBoldItalic.eot');
  src: url('#{$fonts}/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-ExtraBoldItalic.woff') format('woff'),
  url('#{$fonts}/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-ExtraBold.eot');
  src: url('#{$fonts}/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-ExtraBold.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-ExtraBold.woff') format('woff'),
  url('#{$fonts}/Montserrat-ExtraBold.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('#{$fonts}/Helvetica.eot');
  src: url('#{$fonts}/Helvetica.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Helvetica.woff2') format('woff2'),
  url('#{$fonts}/Helvetica.woff') format('woff'),
  url('#{$fonts}/Helvetica.ttf') format('truetype'),
  url('#{$fonts}/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('#{$fonts}/Cabin-Italic.eot');
  src: url('#{$fonts}/Cabin-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Cabin-Italic.woff2') format('woff2'),
  url('#{$fonts}/Cabin-Italic.woff') format('woff'),
  url('#{$fonts}/Cabin-Italic.ttf') format('truetype'),
  url('#{$fonts}/Cabin-Italic.svg#Cabin-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-BoldItalic.eot');
  src: url('#{$fonts}/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-BoldItalic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-BoldItalic.woff') format('woff'),
  url('#{$fonts}/Montserrat-BoldItalic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-Bold.eot');
  src: url('#{$fonts}/Muli-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-Bold.woff2') format('woff2'),
  url('#{$fonts}/Muli-Bold.woff') format('woff'),
  url('#{$fonts}/Muli-Bold.ttf') format('truetype'),
  url('#{$fonts}/Muli-Bold.svg#Muli-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-LightItalic.eot');
  src: url('#{$fonts}/Muli-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-LightItalic.woff2') format('woff2'),
  url('#{$fonts}/Muli-LightItalic.woff') format('woff'),
  url('#{$fonts}/Muli-LightItalic.ttf') format('truetype'),
  url('#{$fonts}/Muli-LightItalic.svg#Muli-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-ExtraLight.eot');
  src: url('#{$fonts}/Muli-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-ExtraLight.woff2') format('woff2'),
  url('#{$fonts}/Muli-ExtraLight.woff') format('woff'),
  url('#{$fonts}/Muli-ExtraLight.ttf') format('truetype'),
  url('#{$fonts}/Muli-ExtraLight.svg#Muli-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-Black.eot');
  src: url('#{$fonts}/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-Black.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-Black.woff') format('woff'),
  url('#{$fonts}/Montserrat-Black.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-ExtraBoldItalic.eot');
  src: url('#{$fonts}/Muli-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-ExtraBoldItalic.woff2') format('woff2'),
  url('#{$fonts}/Muli-ExtraBoldItalic.woff') format('woff'),
  url('#{$fonts}/Muli-ExtraBoldItalic.ttf') format('truetype'),
  url('#{$fonts}/Muli-ExtraBoldItalic.svg#Muli-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-SemiBold.eot');
  src: url('#{$fonts}/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-SemiBold.woff2') format('woff2'),
  url('#{$fonts}/Muli-SemiBold.woff') format('woff'),
  url('#{$fonts}/Muli-SemiBold.ttf') format('truetype'),
  url('#{$fonts}/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-SemiBoldItalic.eot');
  src: url('#{$fonts}/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-SemiBoldItalic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-SemiBoldItalic.woff') format('woff'),
  url('#{$fonts}/Montserrat-SemiBoldItalic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url('#{$fonts}/Cabin-BoldItalic.eot');
  src: url('#{$fonts}/Cabin-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Cabin-BoldItalic.woff2') format('woff2'),
  url('#{$fonts}/Cabin-BoldItalic.woff') format('woff'),
  url('#{$fonts}/Cabin-BoldItalic.ttf') format('truetype'),
  url('#{$fonts}/Cabin-BoldItalic.svg#Cabin-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-Italic.eot');
  src: url('#{$fonts}/Muli-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-Italic.woff2') format('woff2'),
  url('#{$fonts}/Muli-Italic.woff') format('woff'),
  url('#{$fonts}/Muli-Italic.ttf') format('truetype'),
  url('#{$fonts}/Muli-Italic.svg#Muli-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-ThinItalic.eot');
  src: url('#{$fonts}/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-ThinItalic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-ThinItalic.woff') format('woff'),
  url('#{$fonts}/Montserrat-ThinItalic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-BlackItalic.eot');
  src: url('#{$fonts}/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-BlackItalic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-BlackItalic.woff') format('woff'),
  url('#{$fonts}/Montserrat-BlackItalic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-BlackItalic.svg#Montserrat-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-SemiBoldItalic.eot');
  src: url('#{$fonts}/Muli-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-SemiBoldItalic.woff2') format('woff2'),
  url('#{$fonts}/Muli-SemiBoldItalic.woff') format('woff'),
  url('#{$fonts}/Muli-SemiBoldItalic.ttf') format('truetype'),
  url('#{$fonts}/Muli-SemiBoldItalic.svg#Muli-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-BoldItalic.eot');
  src: url('#{$fonts}/Muli-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-BoldItalic.woff2') format('woff2'),
  url('#{$fonts}/Muli-BoldItalic.woff') format('woff'),
  url('#{$fonts}/Muli-BoldItalic.ttf') format('truetype'),
  url('#{$fonts}/Muli-BoldItalic.svg#Muli-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url('#{$fonts}/Cabin-SemiBold.eot');
  src: url('#{$fonts}/Cabin-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Cabin-SemiBold.woff2') format('woff2'),
  url('#{$fonts}/Cabin-SemiBold.woff') format('woff'),
  url('#{$fonts}/Cabin-SemiBold.ttf') format('truetype'),
  url('#{$fonts}/Cabin-SemiBold.svg#Cabin-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-Black.eot');
  src: url('#{$fonts}/Muli-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-Black.woff2') format('woff2'),
  url('#{$fonts}/Muli-Black.woff') format('woff'),
  url('#{$fonts}/Muli-Black.ttf') format('truetype'),
  url('#{$fonts}/Muli-Black.svg#Muli-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('#{$fonts}/CircularStd-Medium.eot');
  src: url('#{$fonts}/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/CircularStd-Medium.woff2') format('woff2'),
  url('#{$fonts}/CircularStd-Medium.woff') format('woff'),
  url('#{$fonts}/CircularStd-Medium.ttf') format('truetype'),
  url('#{$fonts}/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('#{$fonts}/Cabin-Regular.eot');
  src: url('#{$fonts}/Cabin-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Cabin-Regular.woff2') format('woff2'),
  url('#{$fonts}/Cabin-Regular.woff') format('woff'),
  url('#{$fonts}/Cabin-Regular.ttf') format('truetype'),
  url('#{$fonts}/Cabin-Regular.svg#Cabin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-LightItalic.eot');
  src: url('#{$fonts}/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-LightItalic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-LightItalic.woff') format('woff'),
  url('#{$fonts}/Montserrat-LightItalic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-LightItalic.svg#Montserrat-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-Thin.eot');
  src: url('#{$fonts}/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-Thin.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-Thin.woff') format('woff'),
  url('#{$fonts}/Montserrat-Thin.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-Regular.eot');
  src: url('#{$fonts}/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-Regular.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-Regular.woff') format('woff'),
  url('#{$fonts}/Montserrat-Regular.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-ExtraBold.eot');
  src: url('#{$fonts}/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-ExtraBold.woff2') format('woff2'),
  url('#{$fonts}/Muli-ExtraBold.woff') format('woff'),
  url('#{$fonts}/Muli-ExtraBold.ttf') format('truetype'),
  url('#{$fonts}/Muli-ExtraBold.svg#Muli-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-Light.eot');
  src: url('#{$fonts}/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-Light.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-Light.woff') format('woff'),
  url('#{$fonts}/Montserrat-Light.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-MediumItalic.eot');
  src: url('#{$fonts}/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-MediumItalic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-MediumItalic.woff') format('woff'),
  url('#{$fonts}/Montserrat-MediumItalic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-MediumItalic.svg#Montserrat-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url('#{$fonts}/Cabin-Medium.eot');
  src: url('#{$fonts}/Cabin-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Cabin-Medium.woff2') format('woff2'),
  url('#{$fonts}/Cabin-Medium.woff') format('woff'),
  url('#{$fonts}/Cabin-Medium.ttf') format('truetype'),
  url('#{$fonts}/Cabin-Medium.svg#Cabin-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-Regular.eot');
  src: url('#{$fonts}/Muli-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-Regular.woff2') format('woff2'),
  url('#{$fonts}/Muli-Regular.woff') format('woff'),
  url('#{$fonts}/Muli-Regular.ttf') format('truetype'),
  url('#{$fonts}/Muli-Regular.svg#Muli-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('#{$fonts}/CircularStd-Book.eot');
  src: url('#{$fonts}/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/CircularStd-Book.woff2') format('woff2'),
  url('#{$fonts}/CircularStd-Book.woff') format('woff'),
  url('#{$fonts}/CircularStd-Book.ttf') format('truetype'),
  url('#{$fonts}/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('#{$fonts}/Muli-Light.eot');
  src: url('#{$fonts}/Muli-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Muli-Light.woff2') format('woff2'),
  url('#{$fonts}/Muli-Light.woff') format('woff'),
  url('#{$fonts}/Muli-Light.ttf') format('truetype'),
  url('#{$fonts}/Muli-Light.svg#Muli-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('#{$fonts}/Cabin-SemiBoldItalic.eot');
  src: url('#{$fonts}/Cabin-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Cabin-SemiBoldItalic.woff2') format('woff2'),
  url('#{$fonts}/Cabin-SemiBoldItalic.woff') format('woff'),
  url('#{$fonts}/Cabin-SemiBoldItalic.ttf') format('truetype'),
  url('#{$fonts}/Cabin-SemiBoldItalic.svg#Cabin-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-ExtraLightItalic.eot');
  src: url('#{$fonts}/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-ExtraLightItalic.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-ExtraLightItalic.woff') format('woff'),
  url('#{$fonts}/Montserrat-ExtraLightItalic.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-SemiBold.eot');
  src: url('#{$fonts}/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-SemiBold.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-SemiBold.woff') format('woff'),
  url('#{$fonts}/Montserrat-SemiBold.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$fonts}/Montserrat-Bold.eot');
  src: url('#{$fonts}/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Montserrat-Bold.woff2') format('woff2'),
  url('#{$fonts}/Montserrat-Bold.woff') format('woff'),
  url('#{$fonts}/Montserrat-Bold.ttf') format('truetype'),
  url('#{$fonts}/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('#{$fonts}/Cabin-MediumItalic.eot');
  src: url('#{$fonts}/Cabin-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/Cabin-MediumItalic.woff2') format('woff2'),
  url('#{$fonts}/Cabin-MediumItalic.woff') format('woff'),
  url('#{$fonts}/Cabin-MediumItalic.ttf') format('truetype'),
  url('#{$fonts}/Cabin-MediumItalic.svg#Cabin-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AdamGorry-Inline';
  src: url('#{$fonts}/AdamGorry-Inline.eot');
  src: url('#{$fonts}/AdamGorry-Inline.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts}/AdamGorry-Inline.woff2') format('woff2'),
  url('#{$fonts}/AdamGorry-Inline.woff') format('woff'),
  url('#{$fonts}/AdamGorry-Inline.ttf') format('truetype'),
  url('#{$fonts}/AdamGorry-Inline.svg#AdamGorry-Inline') format('svg');
  font-weight: normal;
  font-style: normal;
}

