

.card-wrapper{
  position: relative;
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: 45px 0 40px;
  border-radius: 4px;
  margin: 15px 0;
  background: #ffffff;
  @media (max-width: 1300px) {
      padding: 30px 0 25px;
  }
  .go-to{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: block;
    text-indent: -999999px;
    overflow: hidden;
  }
  img{
    height: 120px;
    width: 120px;
    margin: 0 auto;
    &.bordered{
      border: 1px solid #f1f1f1;
      background: #f6f7fb;
    }
    @media (max-width: 1300px) {
      width: 100px;
      height: auto;
    }
  }
  figcaption{
    margin-top: 40px;
    @include font-size(2);
    text-transform: uppercase;
    color: $dark_blue;
    font-family: $circular_book;
    @media (max-width: 1300px) {
      margin-top: 30px;
    }
    @media (max-width: 1300px) and (min-width: 992px) {
      @include font-size(1.6);
    }
    @media (max-width: 767px) {
      margin-top: 20px;
      @include font-size(1.6);
    }
  }
  &.developer-card{
    background: #fbfbfb;
    img{
      border-radius: 50%;
    }
    figcaption{
      span{
        display: block;
        font-family: $circular_book;
        &.name{
          font-size: 25px;
          color: #303c48;
          @media (max-width: 1370px) {
              @include font-size(2);
          }
          @media (max-width: 1100px) {
              @include font-size(1.8);
          }
          @media (max-width: 767px) {
              @include font-size(1.6);
          }
        }
        &.designation{
          font-size: 20px;
          color: #888888;
          @media (max-width: 1370px) {
            @include font-size(1.6);
          }
          @media (max-width: 1100px) {
            @include font-size(1.4);
          }
          @media (max-width: 767px) {
            @include font-size(1.2);
          }
        }
      }
    }
  }
  &.team-card{
    padding: 60px 0;
    background: #fbfafa;
    img{
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
    figcaption{
      span{
        display: block;
        font-family: $montserrat;
        text-transform: capitalize;
        &.name{
          color: #303c48;
          font-weight: 600;
          margin-bottom: 30px;
          font-size: 30px;
        }
        &.designation{
          font-size: 20px;
          color: #888888;
          font-weight: 500;
        }
      }
    }
  }

  .slick-dots{
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    li{
      display: inline-block;
      margin: 5px;
      height: 12px;
      width: 12px;
      &.slick-active{
        button{
          background: $red;
        }
      }
      button{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: 0;
        outline: none;
      }
    }
  }
}

.companies-logos{
  .col-4{
    @media (max-width:550px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}